node_modules
.DS_Store
.idea/vcs.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rando.iml
.idea/sonarIssues.xml
.idea/workspace.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/1/7/178841233043c7f37695061039a514efab773c12
.idea/sonarlint/issuestore/8/7/87cc53b7d415d8d2b1c35debefbbb2f51eda7061
.idea/sonarlint/issuestore/d/2/d22615bd0b3cd3006fdf3628b257e6c5fb411222
.idea/sonarlint/issuestore/d/d/ddf86e7fae3012d48c86cf8092922b71cdf5d66c
.idea/sonarlint/issuestore/f/6/f6b8a135eb07bb80aa582994bcf1a8ccacd783ee
.idea/sonarlint/issuestore/f/6/f6d2bcae5f6475672dafb60f06ab7892baa97026
